.socialButton {
  border: 1px solid var(--border-light-color);
  border-radius: 100px;
  height: 3.75rem;
  width: 3.75rem;

  img {
    object-fit: contain;
    width: 1.5rem;
    height: 1.5rem;
  }
}

@media (hover: hover) {
  .socialButton:hover {
    background: var(--bg-body-color);
    transition: background 0.5s ease-in-out;
  }

  .socialButton:hover img {
    filter: invert(26%) sepia(7%) saturate(10%) hue-rotate(359deg)
      brightness(90%) contrast(92%);
  }

  @media (hover: none) {
    .socialButton.click {
      background: var(--bg-body-color);
      transition: background 0.5s ease;

      img {
        filter: invert(26%) sepia(7%) saturate(10%) hue-rotate(359deg)
          brightness(90%) contrast(92%);
      }
    }
  }
}
