.tabContainer {
  gap: 8px;

  .tabItem {
    padding: 8px;
    padding-right: 16px;
  }
}

.gridMenuContainer {
  padding: 0 10px;
  max-height: 2144px;
  overflow: hidden;
}

.gridContainer .gridItem {
  flex-direction: column;
  min-height: 590px;
}

.sliderButton {
  height: 3.75rem;
  width: 3.75rem;
  flex-shrink: 0;
}

@media screen and (max-width: 768px) {
  .gridContainer {
    max-height: 1220px;
    overflow: hidden;
  }

  .gridContainer .gridItem {
    border-radius: 20px;
    min-height: 590px;
    min-width: 100%;
  }

  .gridMenuContainer {
    padding: 0 10px;
    overflow: hidden;
  }

  .bttnRefresh {
    display: flex;
    margin: 40px auto;
  }

  .bttnRefresh.hide {
    display: none;
  }
}
