.tabContainer {
  gap: 8px;

  & .active {
    cursor: pointer;
    color: var(--text-light-color);
    background: var(--border-dark-color);
    border-radius: 100px;
  }
}

.gridMenuContainer {
  padding: 0 10px;
  overflow: hidden;
  flex-flow: row wrap;
}

@media screen and (max-width: 768px) {
  .gridContainer {
    max-height: 1220px;
    overflow: hidden;
  }

  .gridContainer .gridItem {
    border-radius: 20px;
    min-height: 590px;
    min-width: 100%;
  }

  .gridMenuContainer {
    padding: 0 10px;
    overflow: hidden;
  }
}
