ul {
  position: relative;
}

.button {
  padding: 0.5rem 1rem;
  min-width: 4rem;
  margin: 0 0.25rem;
  text-align: center;

  &.active {
    color: var(--border-light-color);
    background: var(--border-dark-color);
  }
}

.size {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: var(--bg-body-color);
  text-transform: capitalize;
}

input[type="radio"],
input[type="checkbox"] {
  position: absolute;
}

label {
  cursor: pointer;
}

.note {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: -1rem;
  color: var(--border-dark-color);
}
