.tabImg {
  padding: 8px;
  padding-right: 16px;

  .active {
    cursor: pointer;
    color: var(--border-dark-color);
    border: 1px solid var(--border-dark-color);
    border-radius: 100px;
  }
}
