body {
  font-family: -apple-system, BlinkMacSystemFont, "Inter", "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  /* COLOR VARIABLES */
  --text-dark-color: rgb(65, 63, 61);
  --text-light-color: rgb(225, 212, 201);
  --text-accent-color: rgb(176, 144, 122);

  --bg-body-color: rgb(225, 212, 201);
  --bg-container-color: rgb(102, 95, 85);
  --bg-backdrop-color: rgb(103, 101, 100);

  --border-light-color: rgb(193, 182, 173);
  --border-dark-color: rgb(102, 95, 85);
}

/* DINAMIC CLASSES */

.capitalize {
  text-transform: capitalize;
}

.show {
  display: block;
}

.hide {
  display: none;
}

/* FORMAT CLASSES */

.margin-100 {
  margin: 100px 0;
}

.margin-15 {
  margin: 15px 0;
}

.margin-20 {
  margin: 20px 0;
}

.margin-30 {
  margin: 30px 0;
}

.margin-40 {
  margin: 40px 0;
}

.gap-8 {
  gap: 8px;
}

.gap-10 {
  gap: 10px;
}

.gap-12 {
  gap: 12px;
}

.gap-20 {
  gap: 20px;
}

.gap-40 {
  gap: 40px;
}

.gap-100 {
  gap: 100px;
}

.center {
  text-align: center;
  justify-content: center;
}

.left {
  text-align: left;
}

.accent-txt {
  font-style: italic;
  color: var(--text-accent-color);
}

.medium-txt {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.caption-txt {
  font-size: 10px;
  font-weight: 600;
  line-height: 140%;
}

.light-color {
  color: var(--text-light-color);
}

.dark-color {
  color: var(--text-dark-color);
}

.bg-fill-light {
  background: var(--bg-body-color);
}

.bg-fill-dark {
  background: var(--bg-container-color);
}

.button-primary {
  padding: 1.25rem 5rem;
  border-radius: 100px;
}

.button-secondary {
  cursor: pointer;
  color: var(--border-dark-color);
  border: 1px solid var(--border-dark-color);
  border-radius: 100px;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

/* GENERAL STYLES */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  background: var(--bg-body-color);
  color: var(--text-dark-color);
}

.container {
  position: relative;
  padding: 0 2.5rem;
  max-width: 1440px;
  margin: 0 auto;
}

h1.invisible {
  position: absolute;
  width: 0;
  height: 0;
  visibility: hidden;
}

h2 {
  font-size: 4.5rem;
  font-weight: 600;
  line-height: 105%;
}

h3 {
  font-size: 3.75rem;
  font-weight: 600;
  line-height: 125%;
}

h3.center {
  max-width: 800px;
  margin: 0 auto;
}

h4 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 125%;
}

li {
  display: inline-block;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  display: inline-block;
  border: none;
  background: transparent;
  cursor: pointer;
}

a,
button {
  font-size: 1rem;
  font-weight: 600;
  line-height: 150%;
  color: inherit;
}

@media (hover: hover) and (any-hover: hover) {
  .button-primary,
  .button-secondary {
    cursor: pointer;
  }

  .button-secondary:hover {
    color: var(--border-light-color);
    background: var(--border-dark-color);
    transition: background 0.5s ease-in-out;
  }
}

@media (hover: none) {
  .button-secondary.click {
    color: var(--border-light-color);
    background: var(--border-dark-color);
    transition: background 0.5s ease-in-out;
  }

  .button-secondary.click img {
    filter: invert(94%) sepia(9%) saturate(435%) hue-rotate(332deg)
      brightness(90%) contrast(96%);
  }
}

@media screen and (min-width: 1440px) {
  h4 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1439px) {
  .container {
    max-width: 1439px;
    padding: 20px 40px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 768px;
    padding: 20px 40px;
    overflow-x: hidden;
  }

  .grid-container {
    max-height: 1220px;
    overflow: hidden;
  }

  .grid-container .grid-item {
    border-radius: 20px;
    min-height: 590px;
    min-width: 100%;
  }

  .grid-menu-container {
    padding: 0 10px;
    overflow: hidden;
  }

  .bttn-refresh {
    display: flex;
    margin: 40px auto;
  }

  .bttn-refresh.hide {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: calc(42px + (42 - 24) * ((100vw - 381px) / (767 - 381)));
  }

  h3 {
    font-size: calc(32px + (32 - 24) * ((100vw - 381px) / (767 - 381)));
  }

  .container {
    padding: 20px calc(16px + (40 - 16) * ((100vw - 381px) / (767 - 381)));
  }
}

@media screen and (max-width: 380px) {
  h2 {
    font-size: 2.625rem;
    font-weight: 600;
    line-height: 3rem;
  }

  h3 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.5rem;
  }

  h4 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.875rem;
  }
  .container {
    max-width: 380px;
    width: 380px;
    padding: 20px 16px;
  }

  .tab-item {
    padding: 8px;
    padding-right: 16px;
  }

  .tab-container {
    gap: 8px;
  }

  .grid-menu-container {
    padding: 0 10px;
    max-height: 2144px;
    overflow: hidden;
  }

  .grid-container .grid-item {
    flex-direction: column;
    min-height: 590px;
  }
}
