.slider {
  justify-content: space-between;
  min-height: 684px;
}

.sliderContent {
  display: flex;
  flex-direction: row;
  max-width: 480px;
  overflow: hidden;
}

.slide {
  transform: translateX(0);
  transition: transform 1s ease-out;
}

.next {
  transform: translateX(100%);
  transition: transform 1s ease-out;
}

.back {
  transform: translateX(-100%);
  transition: transform 1s ease-out;
}

.sliderControl {
  position: relative;
  overflow: hidden;
  width: 2.5rem;
  height: 3px;
  background: var(--border-light-color);
  border-radius: 100px;

  &.active span {
    position: absolute;
    left: 0;
    width: 1px;
    height: 100%;
    transform-origin: left;
    transform: scaleX(50);
    background: var(--border-dark-color);
    transition: transform 2s ease;
  }
}

.sliderImg {
  height: 483px;
}

.sliderButton {
  height: 3.75rem;
  width: 3.75rem;
  flex-shrink: 0;
}

.arrowLeft {
  transform: rotate(180deg);
}
