.slider {
  justify-content: space-between;
  height: 684px;
}

.sliderContent {
  display: flex;
  flex-direction: row;
  max-width: 480px;
  overflow: hidden;
}

.sliderControl {
  position: relative;
  width: 2.5rem;
  height: 3px;
  background: var(--border-light-color);
  border-radius: 100px;

  &.active span {
    position: absolute;
    left: 0;
    width: 1px;
    height: 100%;
    transform-origin: left;
    transform: scaleX(40);
    background: var(--border-dark-color);
    transition: transform 2s ease;
  }
}

.sliderButton {
  height: 3.75rem;
  width: 3.75rem;
  flex-shrink: 0;
}

.arrowLeft {
  transform: rotate(180deg);
}
@media screen and (max-width: 380px) {
  .sliderButton {
    display: none;
  }
}
